services:
  postgres:
    image: postgres:15
    env_file: .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - net

  app:
    build:
      context: ./backend
      target: development
    ports:
      - '3000:3000'
    env_file: .env
    depends_on:
      - postgres
    environment:
      DB_HOST: ${DB_HOST}
      DB_PASSWORD: ${DB_PASSWORD}
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/skillswap?schema=public
    command: scripts/init-db.sh
    networks:
      - net

  frontend:
    build:
      context: ./frontend
      target: development
      dockerfile: Dockerfile
    ports:
      - '8080:8080'  # Vite dev server порт
    env_file: .env
    depends_on:
      - app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=${VITE_API_URL}
      - CHOKIDAR_USEPOLLING=${CHOKIDAR_USEPOLLING}
    networks:
      - net
    stdin_open: true
    tty: true

networks:
  net:
    driver: bridge

volumes:
  postgres_data:
