version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: skillswap
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build:
      context: .
      target: development
    ports:
      - '3000:3000'
    env_file: .env
    depends_on:
      - postgres
    environment:
      DB_HOST: postgres
      DB_PASSWORD: postgres
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/skillswap?schema=public
    command: scripts/init-db.sh

volumes:
  postgres_data:
